In [2]:
import pandas as pd

## Reading data from csv

In [3]:
ball_by_ball = pd.read_csv('IPL Ball-by-Ball 2008-2020.csv')
ball_by_ball.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [4]:
Matches = pd.read_csv('IPL Matches 2008-2020.csv')
Matches.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [5]:
ball_by_ball['batsman'].unique()

array(['RT Ponting', 'BB McCullum', 'DJ Hussey', 'Mohammad Hafeez',
       'SC Ganguly', 'CL White', 'MV Boucher', 'B Akhil', 'AA Noffke',
       'P Kumar', 'Z Khan', 'SB Joshi', 'W Jaffer', 'JH Kallis',
       'R Dravid', 'V Kohli', 'K Goel', 'MEK Hussey', 'JR Hopes',
       'SK Raina', 'JDP Oram', 'S Badrinath', 'PA Patel', 'ML Hayden',
       'MS Dhoni', 'KC Sangakkara', 'Yuvraj Singh', 'SM Katich',
       'IK Pathan', 'T Kohli', 'YK Pathan', 'S Dhawan', 'G Gambhir',
       'SK Warne', 'D Salunkhe', 'SK Trivedi', 'V Sehwag', 'SR Watson',
       'M Kaif', 'DS Lehmann', 'RA Jadeja', 'M Rawat', 'L Ronchi',
       'ST Jayasuriya', 'DJ Thornely', 'RV Uthappa', 'PR Shah',
       'AM Nayar', 'SM Pollock', 'Harbhajan Singh', 'S Chanderpaul',
       'LRPL Taylor', 'WP Saha', 'AS Yadav', 'A Symonds', 'SB Bangar',
       'WPUJC Vaas', 'RP Singh', 'AC Gilchrist', 'Y Venugopal Rao',
       'VVS Laxman', 'RG Sharma', 'SB Styris', 'LR Shukla', 'PP Chawla',
       'Kamran Akmal', 'DPMD Jayawardene', 'S Sohal', 'B Lee', 'WA Mota',
       'Shahid Afridi', 'DJ Bravo', 'A Nehra', 'MA Khote', 'GC Smith',
       'Pankaj Singh', 'S Sreesanth', 'VRV Singh', 'SS Tiwary',
       'RR Sarwan', 'DS Kulkarni', 'R Vinay Kumar', 'M Kartik',
       'I Sharma', 'AB Agarkar', 'AM Rahane', 'TM Srivastava',
       'Shoaib Malik', 'MK Tiwary', 'KD Karthik', 'R Bhatia',
       'MF Maharoof', 'VY Mahesh', 'B Chipli', 'DW Steyn', 'DB Das',
       'MK Pandey', 'HH Gibbs', 'DNT Zoysa', 'D Kalyankrishna',
       'SE Marsh', 'SA Asnodkar', 'BJ Hodge', 'Sohail Tanvir',
       'Salman Butt', 'Umar Gul', 'AB Dinda', 'AB de Villiers',
       'SP Fleming', 'S Vidyut', 'JA Morkel', 'LPC Silva', 'DB Ravi Teja',
       'Misbah-ul-Haq', 'PJ Sangwan', 'YV Takawale', 'RR Raje',
       'Mohammad Asif', 'GD McGrath', 'Joginder Sharma', 'MS Gony',
       'M Muralitharan', 'M Ntini', 'DT Patil', 'A Kumble', 'S Anirudha',
       'MM Patel', 'CK Kapugedera', 'A Chopra', 'T Taibu', 'J Arunkumar',
       'PP Ojha', 'SP Goswami', 'SR Tendulkar', 'U Kaul', 'Niraj Patel',
       'AD Mascarenhas', 'TM Dilshan', 'A Mishra', 'LA Pomersbach',
       'Iqbal Abdulla', 'Younis Khan', 'PM Sarvesh Kumar',
       'DP Vijaykumar', 'Shoaib Akhtar', 'Abdur Razzak', 'H Das',
       'DR Smith', 'SD Chitnis', 'CRD Fernando', 'VS Yeligati',
       'L Balaji', 'A Mukund', 'RR Powar', 'JP Duminy', 'A Flintoff',
       'T Thushara', 'KP Pietersen', 'JD Ryder', 'T Henderson',
       'Kamran Khan', 'RS Bopara', 'MC Henriques', 'CH Gayle',
       'R Bishnoi', 'KV Sharma', 'FH Edwards', 'AS Raut', 'PC Valthaty',
       'RJ Quiney', 'Yashpal Singh', 'M Manhas', 'AA Bilakhia',
       'AN Ghosh', 'BAW Mendis', 'DL Vettori', 'MN van Wyk',
       'RE van der Merwe', 'TL Suman', 'Shoaib Ahmed', 'GR Napier',
       'KP Appanna', 'LA Carseldine', 'NV Ojha', 'SM Harwood', 'M Vijay',
       'DA Warner', 'SB Jakati', 'RJ Harris', 'D du Preez', 'M Morkel',
       'AD Mathews', 'SL Malinga', 'C Nanda', 'J Botha',
       'Mashrafe Mortaza', 'A Singh', 'GJ Bailey', 'AB McDonald',
       'Y Nagar', 'SS Shaikh', 'R Ashwin', 'Mohammad Ashraful',
       'Jaskaran Singh', 'Anirudh Singh', 'CA Pujara', 'OA Shah',
       'AP Tare', 'AT Rayudu', 'R Sathish', 'R McLaren',
       'AA Jhunjhunwala', 'P Dogra', 'A Uniyal', 'MS Bisla', 'YA Abdulla',
       'EJG Morgan', 'JM Kemp', 'S Tyagi', 'RS Gavaskar', 'SE Bond',
       'S Ladda', 'DP Nannes', 'KA Pollard', 'DR Martyn', 'S Narwal',
       'MJ Lumb', 'Bipul Sharma', 'AB Barath', 'FY Fazal', 'AC Voges',
       'MD Mishra', 'UT Yadav', 'J Theron', 'SJ Srivastava', 'R Sharma',
       'Mandeep Singh', 'KM Jadhav', 'SW Tait', 'KB Arun Karthik',
       'KAJ Roach', 'PD Collingwood', 'CK Langeveldt', 'VS Malik',
       'A Mithun', 'AP Dole', 'AN Ahmed', 'RS Sodhi', 'DE Bollinger',
       'S Sriram', 'B Sumanth', 'C Madan', 'AG Paunikar', 'MR Marsh',
       'AJ Finch', 'STR Binny', 'Harmeet Singh', 'IR Jaggi',
       'DT Christian', 'MA Agarwal', 'RV Gomez', 'AUK Pathan',
       'UBT Chand', 'DJ Jacobs', 'NJ Rimmington', 'Sunny Singh',
       'AL Menaria', 'WD Parnell', 'JJ van der Wath', 'R Ninan',
       'S Aravind', 'MS Wade', 'TD Paine', 'JEC Franklin', 'SB Wagh',
       'AC Thomas', 'Shakib Al Hasan', 'DH Yagnik', 'S Randiv',
       'BJ Haddin', 'NLTC Perera', 'NL McCullum', 'JE Taylor',
       'J Syed Mohammad', 'RN ten Doeschate', 'TR Birt', 'AG Murtaza',
       'Harpreet Singh', 'M Klinger', 'AC Blizzard', 'I Malhotra',
       'L Ablish', 'CA Ingram', 'S Nadeem', 'P Parameswaran',
       'CJ Ferguson', 'VR Aaron', 'AA Chavan', 'ND Doshi', 'B Kumar',
       'Y Gnaneswara Rao', 'S Rana', 'BA Bhatt', 'F du Plessis',
       'RE Levi', 'GJ Maxwell', 'SPD Smith', 'SA Yadav', 'MN Samuels',
       'KK Cooper', 'JP Faulkner', 'HV Patel', 'DAJ Bracewell',
       'DJ Harris', 'Ankit Sharma', 'SP Narine', 'GB Hogg', 'RR Bhatkal',
       'CJ McKay', 'N Saini', 'DA Miller', 'Azhar Mahmood', 'P Negi',
       'RJ Peterson', 'KMDN Kulasekara', 'A Ashish Reddy',
       'V Pratap Singh', 'BB Samantray', 'MJ Clarke', 'Gurkeerat Singh',
       'AP Majumdar', 'PA Reddy', 'K Upadhyay', 'P Awana', 'AD Russell',
       'A Chandila', 'CA Lynn', 'Sunny Gupta', 'MC Juneja', 'KK Nair',
       'GH Vihari', 'R Shukla', 'MDKJ Perera', 'AS Rajpoot', 'B Laughlin',
       'M Vohra', 'JD Unadkat', 'Mohammed Shami', 'BMAJ Mendis',
       'R Rampaul', 'CH Morris', 'SV Samson', 'SMSM Senanayake',
       'BJ Rohrer', 'KL Rahul', 'Q de Kock', 'R Dhawan', 'MG Johnson',
       'LJ Wright', 'IC Pandey', 'CM Gautam', 'X Thalaivan Sargunam',
       'DJG Sammy', 'KW Richardson', 'MM Sharma', 'UA Birla',
       'Parvez Rasool', 'Sandeep Sharma', 'S Kaul', 'Sachin Baby',
       'PV Tambe', 'NM Coulter-Nile', 'CJ Anderson', 'NJ Maddinson',
       'AR Patel', 'JJ Bumrah', 'JDS Neesham', 'TG Southee', 'MA Starc',
       'BR Dunk', 'RR Rossouw', 'Shivam Sharma', 'YS Chahal',
       'LMP Simmons', 'VH Zol', 'Imran Tahir', 'BCJ Cutting',
       'BE Hendricks', 'S Gopal', 'M de Lange', 'R Tewatia', 'JO Holder',
       'Karanveer Singh', 'SS Iyer', 'DJ Hooda', 'Anureet Singh',
       'KS Williamson', 'SA Abbott', 'J Suchith', 'RG More', 'D Wiese',
       'HH Pandya', 'SN Khan', 'MJ McClenaghan', 'DJ Muthuswami',
       'PJ Cummins', 'SN Thakur', 'JC Buttler', 'CR Brathwaite',
       'MP Stoinis', 'Ishan Kishan', 'C Munro', 'P Sahu', 'KH Pandya',
       'AD Nath', 'MJ Guptill', 'KJ Abbott', 'TM Head', 'M Ashwin',
       'NS Naik', 'RR Pant', 'SW Billings', 'KC Cariappa',
       'PSP Handscomb', 'Swapnil Singh', 'J Yadav', 'UT Khawaja',
       'HM Amla', 'F Behardien', 'A Zampa', 'BB Sran', 'N Rana',
       'S Kaushik', 'ER Dwivedi', 'CJ Jordan', 'A Choudhary', 'TS Mills',
       'BA Stokes', 'JJ Roy', 'Vishnu Vinod', 'Basil Thampi', 'CR Woakes',
       'RA Tripathi', 'DL Chahar', 'V Shankar', 'Rashid Khan',
       'LH Ferguson', 'RD Chahar', 'C de Grandhomme', 'AF Milne',
       'S Badree', 'Mohammad Nabi', 'AJ Tye', 'K Rabada', 'Kuldeep Yadav',
       'Washington Sundar', 'DM Bravo', 'AR Bawne', 'SP Jackson',
       'Ankit Soni', 'TA Boult', 'E Lewis', 'MA Wood', 'RK Singh',
       'DJM Short', 'K Gowtham', 'TK Curran', 'M Markande', 'B Stanlake',
       'Mujeeb Ur Rahman', 'A Dananjaya', 'Shivam Mavi', 'Shubman Gill',
       'Mohammed Siraj', 'H Klaasen', 'RK Bhui', 'JC Archer', 'PP Shaw',
       'LE Plunkett', 'Mustafizur Rahman', 'AD Hales', 'MK Lomror',
       'DR Shorey', 'MM Ali', 'M Prasidh Krishna', 'P Chopra',
       'JPR Scantlebury-Searles', 'Abhishek Sharma', 'IS Sodhi',
       'SO Hetmyer', 'S Dube', 'NA Saini', 'JM Bairstow', 'Rasikh Salam',
       'KMA Paul', 'N Pooran', 'P Ray Barman', 'S Lamichhane',
       'SM Curran', 'GC Viljoen', 'Avesh Khan', 'HF Gurney', 'SD Lad',
       'AS Joseph', 'MJ Santner', 'R Parag', 'JL Denly', 'LS Livingstone',
       'KK Ahmed', 'AJ Turner', 'SE Rutherford', 'Harpreet Brar',
       'Y Prithvi Raj', 'P Simran Singh', 'JL Pattinson', 'A Nortje',
       'T Banton', 'D Padikkal', 'YBK Jaiswal', 'RD Gaikwad',
       'TU Deshpande', 'Abdul Samad', 'PK Garg', 'JR Philippe',
       'Kartik Tyagi', 'CV Varun', 'KL Nagarkoti', 'I Udana',
       'Ravi Bishnoi', 'Shahbaz Ahmed', 'AT Carey', 'N Jagadeesan',
       'T Natarajan', 'P Dubey', 'SS Cottrell', 'Arshdeep Singh',
       'DR Sams'], dtype=object)

## David Warner

In [6]:
DavidWarner = ball_by_ball[ball_by_ball['batsman'] == 'DA Warner']
DavidWarner.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
18954,392206,2,3,5,DA Warner,TM Dilshan,S Tyagi,0,1,1,0,0,NaN,NaN,NaN,legbyes,Delhi Daredevils,Chennai Super Kings
18956,392206,2,4,1,DA Warner,TM Dilshan,JA Morkel,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings
18957,392206,2,4,2,DA Warner,TM Dilshan,JA Morkel,4,0,4,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings
18958,392206,2,4,3,DA Warner,TM Dilshan,JA Morkel,4,0,4,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings
18959,392206,2,4,4,DA Warner,TM Dilshan,JA Morkel,4,0,4,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings

### Overall Stats

In [7]:
runs = 0
balls = 0
dismissals = 0

for i in DavidWarner['batsman_runs']:
    runs = runs + i
    balls = balls + 1

for j in DavidWarner['is_wicket']:
    if j == 1:
        dismissals = dismissals + 1
        
print("Total runs: ", runs)
print("Total balls faced: ", balls)
print("Number of dismissals: ", dismissals)

Total runs:  5254
Total balls faced:  3819
Number of dismissals:  126

In [8]:
avg = runs/dismissals
sr = runs/balls*100

print("Average: ", avg)
print("Strike rate: ", sr)

Average:  41.698412698412696
Strike rate:  137.57528148730034

### David Warner in PowerPlay

In [9]:
powerplay = DavidWarner[DavidWarner['over'] < 6]
powerplay.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
18954,392206,2,3,5,DA Warner,TM Dilshan,S Tyagi,0,1,1,0,0,NaN,NaN,NaN,legbyes,Delhi Daredevils,Chennai Super Kings
18956,392206,2,4,1,DA Warner,TM Dilshan,JA Morkel,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings
18957,392206,2,4,2,DA Warner,TM Dilshan,JA Morkel,4,0,4,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings
18958,392206,2,4,3,DA Warner,TM Dilshan,JA Morkel,4,0,4,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings
18959,392206,2,4,4,DA Warner,TM Dilshan,JA Morkel,4,0,4,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings

In [10]:
pp_runs = 0
pp_balls = 0
pp_dismissals = 0

for i in powerplay['batsman_runs']:
    pp_runs = pp_runs + i
    pp_balls = pp_balls + 1

for j in powerplay['is_wicket']:
    if j == 1:
        pp_dismissals = pp_dismissals + 1

    
print("Total runs in Powerplay: ", pp_runs)
print("Total balls faced in PowerPlay: ", pp_balls)
print("Number of dismissals in PowerPlay: ", pp_dismissals)

Total runs in Powerplay:  2572
Total balls faced in PowerPlay:  1942
Number of dismissals in PowerPlay:  55

In [11]:
pp_avg = pp_runs/pp_dismissals
pp_sr = pp_runs/pp_balls*100

print("Average in PowerPlay: ", pp_avg)
print("Strike rate in PowerPlay: ", pp_sr)

Average in PowerPlay:  46.763636363636365
Strike rate in PowerPlay:  132.44078269824925

### David Warner in the Middle Overs

In [12]:
mid = DavidWarner[(DavidWarner['over'] >= 6) & (DavidWarner['over'] <=14)]
mid.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
18976,392206,2,7,3,DA Warner,KD Karthik,M Muralitharan,2,0,2,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings
18977,392206,2,7,4,DA Warner,KD Karthik,M Muralitharan,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings
18979,392206,2,7,6,DA Warner,KD Karthik,M Muralitharan,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings
18981,392206,2,8,2,DA Warner,KD Karthik,SB Jakati,4,0,4,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings
18982,392206,2,8,3,DA Warner,KD Karthik,SB Jakati,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings

In [13]:
mid_runs = 0
mid_balls = 0
mid_dismissals = 0

for i in mid['batsman_runs']:
    mid_runs = mid_runs + i
    mid_balls = mid_balls + 1

for j in mid['is_wicket']:
    if j == 1:
        mid_dismissals = mid_dismissals + 1

print("Total runs in the middle overs: ", mid_runs)
print("Total balls faced in the middle overs: ", mid_balls)
print("Number of dismissals in the middle overs: ", mid_dismissals)

Total runs in the middle overs:  2129
Total balls faced in the middle overs:  1578
Number of dismissals in the middle overs:  50

In [14]:
mid_avg = mid_runs/mid_dismissals
mid_sr = mid_runs/mid_balls*100

print("Average in the middle overs: ", mid_avg)
print("Strike rate in middle overs: ", mid_sr)

Average in the middle overs:  42.58
Strike rate in middle overs:  134.91761723700887

### David Warner at the death

In [15]:
death = DavidWarner[DavidWarner['over']>=15]
death.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
19026,392206,2,15,5,DA Warner,KD Karthik,SB Jakati,0,0,0,0,1,stumped,DA Warner,MS Dhoni,NaN,Delhi Daredevils,Chennai Super Kings
33198,419131,1,15,1,DA Warner,PD Collingwood,M Kartik,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Kolkata Knight Riders
33202,419131,1,15,5,DA Warner,PD Collingwood,M Kartik,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Kolkata Knight Riders
33205,419131,1,16,2,DA Warner,PD Collingwood,CH Gayle,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Kolkata Knight Riders
33207,419131,1,16,4,DA Warner,PD Collingwood,CH Gayle,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Kolkata Knight Riders

In [16]:
death_runs = 0
death_balls = 0
death_dismissals = 0

for i in death['batsman_runs']:
    death_runs = death_runs + i
    death_balls = death_balls + 1
    
for j in death['is_wicket']:
    if j == 1:
        death_dismissals = death_dismissals + 1
        
print("Total runs at the death: ", death_runs)
print("Total balls faced at the death: ", death_balls)
print("Number of dismissals at the death: ", death_dismissals)

Total runs at the death:  553
Total balls faced at the death:  299
Number of dismissals at the death:  21

In [17]:
death_avg = death_runs/death_dismissals
death_sr = death_runs/death_balls*100

print("Average at the death: ", death_avg)
print("Strike rate at the death: ", death_sr)

Average at the death:  26.333333333333332
Strike rate at the death:  184.94983277591973

### David Warner innings segments

In [18]:
unique_match_id=[]
no_of_balls=[]
current_balls=0
for i in DavidWarner['id']:
    if i not in unique_match_id:
        if(current_balls>0):
            no_of_balls.append(current_balls)
        current_balls=1
        unique_match_id.append(i)
    else:
        current_balls=current_balls+1 
no_of_balls.append(current_balls)

In [19]:
no_of_balls

[40,
 23,
 32,
 25,
 7,
 9,
 1,
 8,
 33,
 15,
 72,
 8,
 22,
 5,
 11,
 15,
 2,
 4,
 3,
 44,
 28,
 48,
 50,
 12,
 7,
 8,
 15,
 2,
 25,
 29,
 10,
 55,
 19,
 9,
 9,
 9,
 46,
 7,
 7,
 20,
 58,
 38,
 4,
 14,
 4,
 6,
 1,
 25,
 42,
 15,
 18,
 6,
 36,
 39,
 6,
 35,
 12,
 45,
 2,
 53,
 51,
 7,
 11,
 32,
 24,
 18,
 47,
 46,
 3,
 43,
 28,
 15,
 21,
 55,
 7,
 41,
 28,
 4,
 19,
 16,
 54,
 32,
 5,
 26,
 14,
 61,
 50,
 32,
 4,
 52,
 18,
 35,
 15,
 31,
 42,
 56,
 16,
 29,
 59,
 39,
 9,
 47,
 34,
 31,
 57,
 7,
 42,
 27,
 60,
 21,
 34,
 6,
 52,
 35,
 55,
 38,
 55,
 18,
 14,
 63,
 47,
 26,
 39,
 47,
 33,
 61,
 61,
 21,
 6,
 38,
 34,
 30,
 4,
 34,
 13,
 33,
 6,
 48,
 42,
 30,
 18,
 4]

In [20]:
runs_0_to_15 = 0
runs_15_to_30 = 0
runs_30_above = 0

balls_0_to_15 = 0
balls_15_to_30 = 0
balls_30_above = 0

dismissals_0_to_15 = 0
dismissals_15_to_30 = 0
dismissals_30_above = 0

In [21]:
index=0
ball=0
for i in DavidWarner['batsman_runs']:
    ball=ball+1
    if(ball<15):
        runs_0_to_15 = runs_0_to_15 + i
        balls_0_to_15 = balls_0_to_15 + 1
    elif(ball>=15 and ball<=30):
        runs_15_to_30 = runs_15_to_30 + i
        balls_15_to_30 = balls_15_to_30 + 1
    elif(ball>30):
        runs_30_above = runs_30_above + i
        balls_30_above = balls_30_above + 1
    if(ball==no_of_balls[index]):
      
        index=index+1
        ball=0

In [22]:
index=0
ball=0
for i in DavidWarner['is_wicket']:
    ball=ball+1
    if(ball<15):
        if(i==1):
            dismissals_0_to_15 = dismissals_0_to_15 + 1
    elif(ball>=15 and ball<=30):
        if(i==1):
            dismissals_15_to_30 = dismissals_15_to_30 + 1
    elif(ball>30):
        if(i==1):
            dismissals_30_above = dismissals_30_above + 1

    if(ball==no_of_balls[index]):
      
        index=index+1
        ball=0

In [23]:
sr_0_to_15 = runs_0_to_15/balls_0_to_15*100
avg_0_to_15 = runs_0_to_15/dismissals_0_to_15

print("Strike rate in 0-15 balls: ", sr_0_to_15)
print("Average in 0-15 balls: ", avg_0_to_15)

Strike rate in 0-15 balls:  126.79108970499699
Average in 0-15 balls:  39.0

In [24]:
sr_15_to_30 = runs_15_to_30*100/balls_15_to_30
avg_15_to_30 = runs_15_to_30/dismissals_15_to_30

print("Strike rate in 15-30 balls: ", sr_15_to_30)
print("Average in 15-30 balls: ", avg_15_to_30)

Strike rate in 15-30 balls:  146.38263665594855
Average in 15-30 balls:  43.357142857142854

In [25]:
sr_30_above = runs_30_above*100/balls_30_above
avg_30_above = runs_30_above/dismissals_30_above

print("Strike rate in 30+ balls: ", sr_30_above)
print("Average in 30+ balls: ", avg_30_above)

Strike rate in 30+ balls:  145.18599562363238
Average in 30+ balls:  44.233333333333334

### Year-wise Analysis

In [26]:
match_nos = []
k = 0
for i in Matches['id']:
    if i in unique_match_id:
        match_nos.append(k)
    k = k + 1

In [27]:
print(len(match_nos))

142

In [28]:
matches_per_year = [0 for i in range(13)]

In [29]:
k = 0
match_no = 0
for i in Matches['date']:
    year = i[0:4]
    if(match_nos[k] == match_no):
        k = k + 1
        
        if(year=='2008'):
            matches_per_year[0]=matches_per_year[0]+1
        elif(year=='2009'):  
            matches_per_year[1]=matches_per_year[1]+1
        elif(year=='2010'):
            matches_per_year[2]=matches_per_year[2]+1
        elif(year=='2011'):    
            matches_per_year[3]=matches_per_year[3]+1
        elif(year=='2012'):
            matches_per_year[4]=matches_per_year[4]+1
        elif(year=='2013'):
            matches_per_year[5]=matches_per_year[5]+1
        elif(year=='2014'):  
            matches_per_year[6]=matches_per_year[6]+1
        elif(year=='2015'):
            matches_per_year[7]=matches_per_year[7]+1
        elif(year=='2016'):  
            matches_per_year[8]=matches_per_year[8]+1
        elif(year=='2017'):  
            matches_per_year[9]=matches_per_year[9]+1
        elif(year=='2018'):  
            matches_per_year[10]=matches_per_year[10]+1 
        elif(year=='2019'):
            matches_per_year[11]=matches_per_year[11]+1
        elif(year=='2020'):
            matches_per_year[12]=matches_per_year[12]+1  
        if(k>=142):
             break     
    match_no = match_no + 1

In [30]:
print(matches_per_year)
print(sum(matches_per_year))

[0, 7, 11, 13, 8, 16, 14, 14, 17, 14, 0, 12, 16]
142

In [31]:
runs_per_year = [0 for i in range(13)]
balls_per_year = [0 for j in range(13)]
dismissals_per_year = [0 for k in range(13)]

In [32]:
balls_this_year = 0
year_number = 0
counter = 0
for i in matches_per_year:
    if i == 0:
        balls_per_year[year_number] = 0
        year_number = year_number + 1
        balls_this_year = 0
    else:
        for j in range(i):
            balls_this_year = balls_this_year + no_of_balls[j + counter]
        counter = counter + i
        balls_per_year[year_number] = balls_this_year
        year_number = year_number + 1
        balls_this_year = 0

In [33]:
print(balls_per_year)
agg = 0
for i in balls_per_year:
    agg = agg + i
print(agg)

[0, 137, 195, 281, 161, 332, 386, 368, 579, 462, 0, 496, 422]
3819

In [34]:
runs_this_year = 0
year_number = 0
balls_this_year = 0
for i in DavidWarner['batsman_runs']:
    if balls_per_year[year_number] == 0:
        runs_per_year[year_number] = 0
        year_number = year_number + 1
        runs_this_year = 0
    
    runs_this_year = runs_this_year + i
    balls_this_year = balls_this_year + 1
        
    if balls_this_year == balls_per_year[year_number]:
        runs_per_year[year_number] = runs_this_year
        runs_this_year = 0
        year_number = year_number + 1
        balls_this_year = 0

In [35]:
print(runs_per_year)
agg = 0
for i in runs_per_year:
    agg = agg + i
print(agg)

[0, 163, 282, 324, 256, 410, 528, 562, 848, 641, 0, 692, 548]
5254

In [36]:
dismissals_this_year = 0
year_number = 0
balls_this_year = 0

for i in DavidWarner['is_wicket']:
    if balls_per_year[year_number] == 0:
        dismissals_per_year[year_number] = 0
        year_number = year_number + 1
        dismissals_this_year = 0
        balls_this_year = 0
    
    dismissals_this_year = dismissals_this_year + i
    balls_this_year = balls_this_year + 1
    
    if balls_per_year[year_number] == balls_this_year:
        dismissals_per_year[year_number] = dismissals_this_year
        year_number = year_number + 1
        dismissals_this_year = 0
        balls_this_year = 0

In [37]:
print(dismissals_per_year)
agg = 0
for i in dismissals_per_year:
    agg = agg + i
print(agg)

[0, 7, 10, 13, 7, 13, 12, 12, 16, 11, 0, 12, 13]
126

In [38]:
sr_per_year = [0 for i in range(13)]
avg_per_year = [0 for j in range(13)]

In [39]:
for i in range(13):
    if balls_per_year[i] == 0:
        sr_per_year[i] = 'NA'
        avg_per_year[i] = 'NA'
    else:
        sr_per_year[i] = runs_per_year[i]/balls_per_year[i]*100
        avg_per_year[i] = runs_per_year[i]/dismissals_per_year[i]

In [40]:
print("Strike rate year-wise: ", sr_per_year)
print("Average year-wise: ", avg_per_year)

Strike rate year-wise:  ['NA', 118.97810218978103, 144.6153846153846, 115.30249110320285, 159.0062111801242, 123.49397590361446, 136.78756476683938, 152.7173913043478, 146.4594127806563, 138.74458874458875, 'NA', 139.51612903225808, 129.8578199052133]
Average year-wise:  ['NA', 23.285714285714285, 28.2, 24.923076923076923, 36.57142857142857, 31.53846153846154, 44.0, 46.833333333333336, 53.0, 58.27272727272727, 'NA', 57.666666666666664, 42.15384615384615]

In [41]:
runs_0_to_15_per_year = [0 for i in range(13)]
runs_15_to_30_per_year = [0 for i in range(13)]
runs_30_above_per_year = [0 for i in range(13)]
balls_0_to_15_per_year = [0 for i in range(13)]
balls_15_to_30_per_year = [0 for i in range(13)]
balls_30_above_per_year = [0 for i in range(13)]
dismissals_0_to_15_per_year = [0 for i in range(13)]
dismissals_15_to_30_per_year = [0 for i in range(13)]
dismissals_30_above_per_year = [0 for i in range(13)]

In [42]:
runs_0_to_15_this_year = 0
runs_15_to_30_this_year = 0
runs_30_above_this_year = 0
balls_0_to_15_this_year = 0
balls_15_to_30_this_year = 0
balls_30_above_this_year =  0

balls = 0
match = 0
year_number=  0
inning = 0

for i in DavidWarner['batsman_runs']:
    if balls_per_year[year_number] == 0:
        runs_0_to_15_this_year = 0
        runs_15_to_30_this_year = 0
        runs_30_above_this_year = 0
        balls_0_to_15_this_year = 0
        balls_15_to_30_this_year = 0
        balls_30_above_this_year =  0
        year_number = year_number + 1
        balls = 0
        match = 0
    
    balls = balls + 1
    if balls<=15:
        runs_0_to_15_this_year = runs_0_to_15_this_year + i
        balls_0_to_15_this_year = balls_0_to_15_this_year + 1
    elif balls<=30:
        runs_15_to_30_this_year = runs_15_to_30_this_year + i
        balls_15_to_30_this_year = balls_15_to_30_this_year + 1
    elif balls>30:
        runs_30_above_this_year = runs_30_above_this_year + i
        balls_30_above_this_year = balls_30_above_this_year + 1
    if balls == no_of_balls[inning]:
        inning = inning + 1
        balls = 0
        match = match + 1
        if match == matches_per_year[year_number]:
            match = 0
            runs_0_to_15_per_year[year_number] = runs_0_to_15_this_year
            runs_15_to_30_per_year[year_number] = runs_15_to_30_this_year
            runs_30_above_per_year[year_number] = runs_30_above_this_year
            balls_0_to_15_per_year[year_number] = balls_0_to_15_this_year
            balls_15_to_30_per_year[year_number] = balls_15_to_30_this_year
            balls_30_above_per_year[year_number] = balls_30_above_this_year
            
            runs_0_to_15_this_year = 0
            runs_15_to_30_this_year = 0
            runs_30_above_this_year = 0
            balls_0_to_15_this_year = 0
            balls_15_to_30_this_year = 0
            balls_30_above_this_year =  0
            year_number = year_number + 1

In [43]:
run_agg = 0
for i in runs_0_to_15_per_year:
    run_agg = run_agg + i
for j in runs_15_to_30_per_year:
    run_agg = run_agg + j
for k in runs_30_above_per_year:
    run_agg = run_agg + k
    
print(run_agg)

5254

In [44]:
ball_agg = 0
for i in balls_0_to_15_per_year:
    ball_agg = ball_agg + i
for j in balls_15_to_30_per_year:
    ball_agg = ball_agg + j
for k in balls_30_above_per_year:
    ball_agg = ball_agg + k

print(ball_agg)

3819

In [45]:
dismissals_0_to_15_this_year = 0
dismissals_15_to_30_this_year = 0
dismissals_30_above_this_year = 0

year_number = 0
match = 0
balls = 0
inning = 0

for i in DavidWarner['is_wicket']:
    if balls_per_year[year_number] == 0:
        dismissals_0_to_15_this_year = 0
        dismissals_15_to_30_this_year = 0
        dismissals_30_above_this_year = 0
        balls = 0
        match = 0
        year_number = year_number + 1
    
    balls = balls + 1
    
    if balls <= 15:
        if i == 1:
            dismissals_0_to_15_this_year = dismissals_0_to_15_this_year + 1
        
    elif balls <= 30:
        if i == 1:
            dismissals_15_to_30_this_year = dismissals_15_to_30_this_year + 1
    
    else:
        if i == 1:
            dismissals_30_above_this_year = dismissals_30_above_this_year + 1
    
    if balls == no_of_balls[inning]:
        inning = inning + 1
        balls = 0
        match = match + 1
        if match == matches_per_year[year_number]:
            match = 0
            dismissals_0_to_15_per_year[year_number] = dismissals_0_to_15_this_year
            dismissals_15_to_30_per_year[year_number] = dismissals_15_to_30_this_year
            dismissals_30_above_per_year[year_number] = dismissals_30_above_this_year
            dismissals_0_to_15_this_year = 0
            dismissals_15_to_30_this_year = 0
            dismissals_30_above_this_year = 0
            year_number = year_number + 1

In [46]:
dismissals_agg = 0
for i in dismissals_0_to_15_per_year:
    dismissals_agg = dismissals_agg + i
for j in dismissals_15_to_30_per_year:
    dismissals_agg = dismissals_agg + j
for k in dismissals_30_above_per_year:
    dismissals_agg = dismissals_agg + k
    
print(dismissals_agg)

126

In [47]:
print(dismissals_0_to_15_per_year)
print(dismissals_15_to_30_per_year)
print(dismissals_30_above_per_year)

[0, 4, 9, 8, 5, 8, 5, 3, 5, 4, 0, 2, 7]
[0, 1, 1, 5, 1, 4, 1, 7, 5, 5, 0, 2, 4]
[0, 2, 0, 0, 1, 1, 6, 2, 6, 2, 0, 8, 2]

In [48]:
sr_0_to_15_per_year = [0 for i in range(13)]
sr_15_to_30_per_year = [0 for i in range(13)]
sr_30_above_per_year = [0 for i in range(13)]
avg_0_to_15_per_year = [0 for i in range(13)]
avg_15_to_30_per_year = [0 for i in range(13)]
avg_30_above_per_year = [0 for i in range(13)]

In [49]:
for i in range(13):
    if balls_0_to_15_per_year[i] == 0 or balls_15_to_30_per_year[i] == 0 or balls_30_above_per_year[i] == 0:
        sr_0_to_15_per_year[i] = 'NA'
        sr_15_to_30_per_year[i] = 'NA'
        sr_30_above_per_year[i] = 'NA'
    if dismissals_0_to_15_per_year[i] == 0 or dismissals_15_to_30_per_year[i] == 0 or dismissals_30_above_per_year[i] == 0:
        avg_0_to_15_per_year[i] = 0
        avg_15_to_30_per_year[i] = 0
        avg_30_above_per_year[i] = 0
    else:
        sr_0_to_15_per_year[i] = runs_0_to_15_per_year[i]/balls_0_to_15_per_year[i]*100
        sr_15_to_30_per_year[i] = runs_15_to_30_per_year[i]/balls_15_to_30_per_year[i]*100
        sr_30_above_per_year[i] = runs_30_above_per_year[i]/balls_30_above_per_year[i]*100
        
        avg_0_to_15_per_year[i] = runs_0_to_15_per_year[i]/dismissals_0_to_15_per_year[i]
        avg_15_to_30_per_year[i] = runs_15_to_30_per_year[i]/dismissals_15_to_30_per_year[i]
        avg_30_above_per_year[i] = runs_30_above_per_year[i]/dismissals_30_above_per_year[i]

In [50]:
print("Strike rate in 0-15 balls year-wise: ", sr_0_to_15_per_year)
print("Strike rate in 15-30 balls year-wise: ", sr_15_to_30_per_year)
print("Strike rate in 30+ balls year-wise: ", sr_30_above_per_year)

print("Average in 0-15 balls year-wise: ", avg_0_to_15_per_year)
print("Average in 15-30 balls year-wise: ", avg_15_to_30_per_year)
print("Average in 30+ balls year-wise: ", avg_30_above_per_year)

Strike rate in 0-15 balls year-wise:  ['NA', 132.46753246753246, 0, 0, 133.72093023255815, 111.93181818181819, 129.41176470588235, 147.51381215469613, 141.56378600823047, 125.13368983957218, 'NA', 131.2849162011173, 103.53535353535352]
Strike rate in 15-30 balls year-wise:  ['NA', 110.41666666666667, 0, 0, 223.52941176470588, 132.25806451612902, 152.99145299145297, 151.78571428571428, 162.01117318435755, 132.02614379084966, 'NA', 144.29530201342283, 162.5]
Strike rate in 30+ balls year-wise:  ['NA', 66.66666666666666, 0, 0, 158.53658536585365, 142.85714285714286, 130.3030303030303, 166.66666666666669, 136.30573248407643, 168.0327868852459, 'NA', 144.04761904761904, 136.25]
Average in 0-15 balls year-wise:  [0, 25.5, 0, 0, 23.0, 24.625, 44.0, 89.0, 68.8, 58.5, 0, 117.5, 29.285714285714285]
Average in 15-30 balls year-wise:  [0, 53.0, 0, 0, 76.0, 30.75, 179.0, 24.285714285714285, 58.0, 40.4, 0, 107.5, 58.5]
Average in 30+ balls year-wise:  [0, 4.0, 0, 0, 65.0, 90.0, 21.5, 62.5, 35.666666666666664, 102.5, 0, 30.25, 54.5]

### Batting first and in chases

In [51]:
DWSet = DavidWarner[DavidWarner['inning'] == 1]
DWChase = DavidWarner[DavidWarner['inning'] == 2]

In [52]:
set_runs = 0
set_balls = 0
set_dismissals = 0

for i in DWSet['batsman_runs']:
    set_runs = set_runs + i
    set_balls = set_balls + 1

for j in DWSet['is_wicket']:
    if j == 1:
        set_dismissals = set_dismissals + 1
        
print("Total runs while setting a target: ", set_runs)
print("Total balls faced while setting a target: ", set_balls)
print("Number of dismissals while setting a target: ", set_dismissals)

chase_runs = 0
chase_balls = 0
chase_dismissals = 0

for i in DWChase['batsman_runs']:
    chase_runs = chase_runs + i
    chase_balls = chase_balls + 1

for j in DWChase['is_wicket']:
    if j == 1:
        chase_dismissals = chase_dismissals + 1
        
print("Total runs while chasing: ", chase_runs)
print("Total balls faced while chasing: ", chase_balls)
print("Number of dismissals while chasing: ", chase_dismissals)

print("Total runs: ", set_runs+chase_runs)
print("Total balls faced: ", set_balls+chase_balls)
print("Total dismissals: ", set_dismissals+chase_dismissals)

Total runs while setting a target:  2823
Total balls faced while setting a target:  2069
Number of dismissals while setting a target:  68
Total runs while chasing:  2431
Total balls faced while chasing:  1750
Number of dismissals while chasing:  58
Total runs:  5254
Total balls faced:  3819
Total dismissals:  126

In [53]:
set_avg = set_runs/set_dismissals
set_sr = set_runs/set_balls*100

print("Average while setting a target: ", set_avg)
print("Strike rate while setting a target: ", set_sr)

chase_avg = chase_runs/chase_dismissals
chase_sr = chase_runs/chase_balls*100

print("Average while chasing: ", chase_avg)
print("Strike rate while chasing: ", chase_sr)

Average while setting a target:  41.51470588235294
Strike rate while setting a target:  136.44272595456744
Average while chasing:  41.91379310344828
Strike rate while chasing:  138.9142857142857

In [54]:
set_powerplay = DWSet[DWSet['over'] < 6]
set_powerplay.head()

chase_powerplay = DWChase[DWChase['over'] < 6]
chase_powerplay.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
18954,392206,2,3,5,DA Warner,TM Dilshan,S Tyagi,0,1,1,0,0,NaN,NaN,NaN,legbyes,Delhi Daredevils,Chennai Super Kings
18956,392206,2,4,1,DA Warner,TM Dilshan,JA Morkel,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings
18957,392206,2,4,2,DA Warner,TM Dilshan,JA Morkel,4,0,4,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings
18958,392206,2,4,3,DA Warner,TM Dilshan,JA Morkel,4,0,4,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings
18959,392206,2,4,4,DA Warner,TM Dilshan,JA Morkel,4,0,4,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings

In [55]:
set_pp_runs = 0
set_pp_balls = 0
set_pp_dismissals = 0

for i in set_powerplay['batsman_runs']:
    set_pp_runs = set_pp_runs + i
    set_pp_balls = set_pp_balls + 1

for j in set_powerplay['is_wicket']:
    if j == 1:
        set_pp_dismissals = set_pp_dismissals + 1

    
print("Total runs in Powerplay while setting a target: ", set_pp_runs)
print("Total balls faced in PowerPlay while setting a target: ", set_pp_balls)
print("Number of dismissals in PowerPlay while setting a target: ", set_pp_dismissals)

chase_pp_runs = 0
chase_pp_balls = 0
chase_pp_dismissals = 0

for i in chase_powerplay['batsman_runs']:
    chase_pp_runs = chase_pp_runs + i
    chase_pp_balls = chase_pp_balls + 1

for j in chase_powerplay['is_wicket']:
    if j == 1:
        chase_pp_dismissals = chase_pp_dismissals + 1

    
print("Total runs in Powerplay while chasing: ", pp_runs)
print("Total balls faced in PowerPlay while chasing: ", pp_balls)
print("Number of dismissals in PowerPlay while chasing: ", pp_dismissals)

Total runs in Powerplay while setting a target:  1284
Total balls faced in PowerPlay while setting a target:  1001
Number of dismissals in PowerPlay while setting a target:  28
Total runs in Powerplay while chasing:  2572
Total balls faced in PowerPlay while chasing:  1942
Number of dismissals in PowerPlay while chasing:  55

In [56]:
set_pp_avg = set_pp_runs/set_pp_dismissals
set_pp_sr = set_pp_runs/set_pp_balls*100

print("Average in PowerPlay while setting a target: ", set_pp_avg)
print("Strike rate in PowerPlay while setting a target: ", set_pp_sr)

chase_pp_avg = chase_pp_runs/chase_pp_dismissals
chase_pp_sr = chase_pp_runs/chase_pp_balls*100

print("Average in PowerPlay while chasing: ", chase_pp_avg)
print("Strike rate in PowerPlay while chasing: ", chase_pp_sr)

Average in PowerPlay while setting a target:  45.857142857142854
Strike rate in PowerPlay while setting a target:  128.27172827172828
Average in PowerPlay while chasing:  47.7037037037037
Strike rate in PowerPlay while chasing:  136.87566418703508

In [57]:
set_mid = DWSet[(DWSet['over'] >= 6) & (DWSet['over'] <=14)]
set_mid.head()

chase_mid = DWChase[(DWChase['over'] >= 6) & (DWChase['over'] <=14)]
chase_mid.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
18976,392206,2,7,3,DA Warner,KD Karthik,M Muralitharan,2,0,2,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings
18977,392206,2,7,4,DA Warner,KD Karthik,M Muralitharan,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings
18979,392206,2,7,6,DA Warner,KD Karthik,M Muralitharan,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings
18981,392206,2,8,2,DA Warner,KD Karthik,SB Jakati,4,0,4,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings
18982,392206,2,8,3,DA Warner,KD Karthik,SB Jakati,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Chennai Super Kings

In [58]:
set_mid_runs = 0
set_mid_balls = 0
set_mid_dismissals = 0

for i in set_mid['batsman_runs']:
    set_mid_runs = set_mid_runs + i
    set_mid_balls = set_mid_balls + 1

for j in set_mid['is_wicket']:
    if j == 1:
        set_mid_dismissals = set_mid_dismissals + 1

print("Total runs in the middle overs while setting a target: ", set_mid_runs)
print("Total balls faced in the middle overs while setting a target: ", set_mid_balls)
print("Number of dismissals in the middle overs while setting a target: ", set_mid_dismissals)

chase_mid_runs = 0
chase_mid_balls = 0
chase_mid_dismissals = 0

for i in chase_mid['batsman_runs']:
    chase_mid_runs = chase_mid_runs + i
    chase_mid_balls = chase_mid_balls + 1

for j in chase_mid['is_wicket']:
    if j == 1:
        chase_mid_dismissals = chase_mid_dismissals + 1

print("Total runs in the middle overs while chasing: ", chase_mid_runs)
print("Total balls faced in the middle overs while chasing: ", chase_mid_balls)
print("Number of dismissals in the middle overs while chasing: ", chase_mid_dismissals)

Total runs in the middle overs while setting a target:  1174
Total balls faced in the middle overs while setting a target:  872
Number of dismissals in the middle overs while setting a target:  25
Total runs in the middle overs while chasing:  955
Total balls faced in the middle overs while chasing:  706
Number of dismissals in the middle overs while chasing:  25

In [59]:
set_mid_avg = set_mid_runs/set_mid_dismissals
set_mid_sr = set_mid_runs/set_mid_balls*100

print("Average in the middle overs while setting a target: ", set_mid_avg)
print("Strike rate in middle overs while setting a target: ", set_mid_sr)

chase_mid_avg = chase_mid_runs/chase_mid_dismissals
chase_mid_sr = chase_mid_runs/chase_mid_balls*100

print("Average in the middle overs while chasing: ", chase_mid_avg)
print("Strike rate in middle overs: ", chase_mid_sr)

Average in the middle overs while setting a target:  46.96
Strike rate in middle overs while setting a target:  134.63302752293578
Average in the middle overs while chasing:  38.2
Strike rate in middle overs:  135.26912181303118

In [60]:
set_death = DWSet[DWSet['over']>=15]
set_death.head()

chase_death = DWChase[DWChase['over']>=15]
chase_death.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
19026,392206,2,15,5,DA Warner,KD Karthik,SB Jakati,0,0,0,0,1,stumped,DA Warner,MS Dhoni,NaN,Delhi Daredevils,Chennai Super Kings
64165,548329,2,15,1,DA Warner,NV Ojha,Ankit Sharma,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Deccan Chargers
64166,548329,2,15,2,DA Warner,NV Ojha,Ankit Sharma,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Deccan Chargers
64168,548329,2,15,4,DA Warner,NV Ojha,Ankit Sharma,6,0,6,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Deccan Chargers
64169,548329,2,15,5,DA Warner,NV Ojha,Ankit Sharma,2,0,2,0,0,NaN,NaN,NaN,NaN,Delhi Daredevils,Deccan Chargers

In [61]:
set_death_runs = 0
set_death_balls = 0
set_death_dismissals = 0

for i in set_death['batsman_runs']:
    set_death_runs = set_death_runs + i
    set_death_balls = set_death_balls + 1
    
for j in set_death['is_wicket']:
    if j == 1:
        set_death_dismissals = set_death_dismissals + 1
        
print("Total runs at the death while setting a target: ", set_death_runs)
print("Total balls faced at the death while setting a target: ", set_death_balls)
print("Number of dismissals at the death while setting a target: ", set_death_dismissals)


chase_death_runs = 0
chase_death_balls = 0
chase_death_dismissals = 0

for i in chase_death['batsman_runs']:
    chase_death_runs = chase_death_runs + i
    chase_death_balls = chase_death_balls + 1
    
for j in chase_death['is_wicket']:
    if j == 1:
        chase_death_dismissals = chase_death_dismissals + 1
        
print("Total runs at the death while chasing: ", chase_death_runs)
print("Total balls faced at the death while chasing: ", chase_death_balls)
print("Number of dismissals at the death while chasing: ", chase_death_dismissals)

Total runs at the death while setting a target:  365
Total balls faced at the death while setting a target:  196
Number of dismissals at the death while setting a target:  15
Total runs at the death while chasing:  188
Total balls faced at the death while chasing:  103
Number of dismissals at the death while chasing:  6

In [62]:
set_death_avg = set_death_runs/set_death_dismissals
set_death_sr = set_death_runs/set_death_balls*100

print("Average at the death while setting a target: ", set_death_avg)
print("Strike rate at the death while setting a target: ", set_death_sr)

chase_death_avg = chase_death_runs/chase_death_dismissals
chase_death_sr = chase_death_runs/chase_death_balls*100

print("Average at the death while chasing: ", chase_death_avg)
print("Strike rate at the death while chasing: ", chase_death_sr)

Average at the death while setting a target:  24.333333333333332
Strike rate at the death while setting a target:  186.22448979591837
Average at the death while chasing:  31.333333333333332
Strike rate at the death while chasing:  182.5242718446602