In [17]:
import pandas as pd

In [18]:
df=pd.read_csv('IPL Ball-by-Ball 2008-2020.csv')
df.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [19]:
df['batsman'].unique()

array(['RT Ponting', 'BB McCullum', 'DJ Hussey', 'Mohammad Hafeez',
       'SC Ganguly', 'CL White', 'MV Boucher', 'B Akhil', 'AA Noffke',
       'P Kumar', 'Z Khan', 'SB Joshi', 'W Jaffer', 'JH Kallis',
       'R Dravid', 'V Kohli', 'K Goel', 'MEK Hussey', 'JR Hopes',
       'SK Raina', 'JDP Oram', 'S Badrinath', 'PA Patel', 'ML Hayden',
       'MS Dhoni', 'KC Sangakkara', 'Yuvraj Singh', 'SM Katich',
       'IK Pathan', 'T Kohli', 'YK Pathan', 'S Dhawan', 'G Gambhir',
       'SK Warne', 'D Salunkhe', 'SK Trivedi', 'V Sehwag', 'SR Watson',
       'M Kaif', 'DS Lehmann', 'RA Jadeja', 'M Rawat', 'L Ronchi',
       'ST Jayasuriya', 'DJ Thornely', 'RV Uthappa', 'PR Shah',
       'AM Nayar', 'SM Pollock', 'Harbhajan Singh', 'S Chanderpaul',
       'LRPL Taylor', 'WP Saha', 'AS Yadav', 'A Symonds', 'SB Bangar',
       'WPUJC Vaas', 'RP Singh', 'AC Gilchrist', 'Y Venugopal Rao',
       'VVS Laxman', 'RG Sharma', 'SB Styris', 'LR Shukla', 'PP Chawla',
       'Kamran Akmal', 'DPMD Jayawardene', 'S Sohal', 'B Lee', 'WA Mota',
       'Shahid Afridi', 'DJ Bravo', 'A Nehra', 'MA Khote', 'GC Smith',
       'Pankaj Singh', 'S Sreesanth', 'VRV Singh', 'SS Tiwary',
       'RR Sarwan', 'DS Kulkarni', 'R Vinay Kumar', 'M Kartik',
       'I Sharma', 'AB Agarkar', 'AM Rahane', 'TM Srivastava',
       'Shoaib Malik', 'MK Tiwary', 'KD Karthik', 'R Bhatia',
       'MF Maharoof', 'VY Mahesh', 'B Chipli', 'DW Steyn', 'DB Das',
       'MK Pandey', 'HH Gibbs', 'DNT Zoysa', 'D Kalyankrishna',
       'SE Marsh', 'SA Asnodkar', 'BJ Hodge', 'Sohail Tanvir',
       'Salman Butt', 'Umar Gul', 'AB Dinda', 'AB de Villiers',
       'SP Fleming', 'S Vidyut', 'JA Morkel', 'LPC Silva', 'DB Ravi Teja',
       'Misbah-ul-Haq', 'PJ Sangwan', 'YV Takawale', 'RR Raje',
       'Mohammad Asif', 'GD McGrath', 'Joginder Sharma', 'MS Gony',
       'M Muralitharan', 'M Ntini', 'DT Patil', 'A Kumble', 'S Anirudha',
       'MM Patel', 'CK Kapugedera', 'A Chopra', 'T Taibu', 'J Arunkumar',
       'PP Ojha', 'SP Goswami', 'SR Tendulkar', 'U Kaul', 'Niraj Patel',
       'AD Mascarenhas', 'TM Dilshan', 'A Mishra', 'LA Pomersbach',
       'Iqbal Abdulla', 'Younis Khan', 'PM Sarvesh Kumar',
       'DP Vijaykumar', 'Shoaib Akhtar', 'Abdur Razzak', 'H Das',
       'DR Smith', 'SD Chitnis', 'CRD Fernando', 'VS Yeligati',
       'L Balaji', 'A Mukund', 'RR Powar', 'JP Duminy', 'A Flintoff',
       'T Thushara', 'KP Pietersen', 'JD Ryder', 'T Henderson',
       'Kamran Khan', 'RS Bopara', 'MC Henriques', 'CH Gayle',
       'R Bishnoi', 'KV Sharma', 'FH Edwards', 'AS Raut', 'PC Valthaty',
       'RJ Quiney', 'Yashpal Singh', 'M Manhas', 'AA Bilakhia',
       'AN Ghosh', 'BAW Mendis', 'DL Vettori', 'MN van Wyk',
       'RE van der Merwe', 'TL Suman', 'Shoaib Ahmed', 'GR Napier',
       'KP Appanna', 'LA Carseldine', 'NV Ojha', 'SM Harwood', 'M Vijay',
       'DA Warner', 'SB Jakati', 'RJ Harris', 'D du Preez', 'M Morkel',
       'AD Mathews', 'SL Malinga', 'C Nanda', 'J Botha',
       'Mashrafe Mortaza', 'A Singh', 'GJ Bailey', 'AB McDonald',
       'Y Nagar', 'SS Shaikh', 'R Ashwin', 'Mohammad Ashraful',
       'Jaskaran Singh', 'Anirudh Singh', 'CA Pujara', 'OA Shah',
       'AP Tare', 'AT Rayudu', 'R Sathish', 'R McLaren',
       'AA Jhunjhunwala', 'P Dogra', 'A Uniyal', 'MS Bisla', 'YA Abdulla',
       'EJG Morgan', 'JM Kemp', 'S Tyagi', 'RS Gavaskar', 'SE Bond',
       'S Ladda', 'DP Nannes', 'KA Pollard', 'DR Martyn', 'S Narwal',
       'MJ Lumb', 'Bipul Sharma', 'AB Barath', 'FY Fazal', 'AC Voges',
       'MD Mishra', 'UT Yadav', 'J Theron', 'SJ Srivastava', 'R Sharma',
       'Mandeep Singh', 'KM Jadhav', 'SW Tait', 'KB Arun Karthik',
       'KAJ Roach', 'PD Collingwood', 'CK Langeveldt', 'VS Malik',
       'A Mithun', 'AP Dole', 'AN Ahmed', 'RS Sodhi', 'DE Bollinger',
       'S Sriram', 'B Sumanth', 'C Madan', 'AG Paunikar', 'MR Marsh',
       'AJ Finch', 'STR Binny', 'Harmeet Singh', 'IR Jaggi',
       'DT Christian', 'MA Agarwal', 'RV Gomez', 'AUK Pathan',
       'UBT Chand', 'DJ Jacobs', 'NJ Rimmington', 'Sunny Singh',
       'AL Menaria', 'WD Parnell', 'JJ van der Wath', 'R Ninan',
       'S Aravind', 'MS Wade', 'TD Paine', 'JEC Franklin', 'SB Wagh',
       'AC Thomas', 'Shakib Al Hasan', 'DH Yagnik', 'S Randiv',
       'BJ Haddin', 'NLTC Perera', 'NL McCullum', 'JE Taylor',
       'J Syed Mohammad', 'RN ten Doeschate', 'TR Birt', 'AG Murtaza',
       'Harpreet Singh', 'M Klinger', 'AC Blizzard', 'I Malhotra',
       'L Ablish', 'CA Ingram', 'S Nadeem', 'P Parameswaran',
       'CJ Ferguson', 'VR Aaron', 'AA Chavan', 'ND Doshi', 'B Kumar',
       'Y Gnaneswara Rao', 'S Rana', 'BA Bhatt', 'F du Plessis',
       'RE Levi', 'GJ Maxwell', 'SPD Smith', 'SA Yadav', 'MN Samuels',
       'KK Cooper', 'JP Faulkner', 'HV Patel', 'DAJ Bracewell',
       'DJ Harris', 'Ankit Sharma', 'SP Narine', 'GB Hogg', 'RR Bhatkal',
       'CJ McKay', 'N Saini', 'DA Miller', 'Azhar Mahmood', 'P Negi',
       'RJ Peterson', 'KMDN Kulasekara', 'A Ashish Reddy',
       'V Pratap Singh', 'BB Samantray', 'MJ Clarke', 'Gurkeerat Singh',
       'AP Majumdar', 'PA Reddy', 'K Upadhyay', 'P Awana', 'AD Russell',
       'A Chandila', 'CA Lynn', 'Sunny Gupta', 'MC Juneja', 'KK Nair',
       'GH Vihari', 'R Shukla', 'MDKJ Perera', 'AS Rajpoot', 'B Laughlin',
       'M Vohra', 'JD Unadkat', 'Mohammed Shami', 'BMAJ Mendis',
       'R Rampaul', 'CH Morris', 'SV Samson', 'SMSM Senanayake',
       'BJ Rohrer', 'KL Rahul', 'Q de Kock', 'R Dhawan', 'MG Johnson',
       'LJ Wright', 'IC Pandey', 'CM Gautam', 'X Thalaivan Sargunam',
       'DJG Sammy', 'KW Richardson', 'MM Sharma', 'UA Birla',
       'Parvez Rasool', 'Sandeep Sharma', 'S Kaul', 'Sachin Baby',
       'PV Tambe', 'NM Coulter-Nile', 'CJ Anderson', 'NJ Maddinson',
       'AR Patel', 'JJ Bumrah', 'JDS Neesham', 'TG Southee', 'MA Starc',
       'BR Dunk', 'RR Rossouw', 'Shivam Sharma', 'YS Chahal',
       'LMP Simmons', 'VH Zol', 'Imran Tahir', 'BCJ Cutting',
       'BE Hendricks', 'S Gopal', 'M de Lange', 'R Tewatia', 'JO Holder',
       'Karanveer Singh', 'SS Iyer', 'DJ Hooda', 'Anureet Singh',
       'KS Williamson', 'SA Abbott', 'J Suchith', 'RG More', 'D Wiese',
       'HH Pandya', 'SN Khan', 'MJ McClenaghan', 'DJ Muthuswami',
       'PJ Cummins', 'SN Thakur', 'JC Buttler', 'CR Brathwaite',
       'MP Stoinis', 'Ishan Kishan', 'C Munro', 'P Sahu', 'KH Pandya',
       'AD Nath', 'MJ Guptill', 'KJ Abbott', 'TM Head', 'M Ashwin',
       'NS Naik', 'RR Pant', 'SW Billings', 'KC Cariappa',
       'PSP Handscomb', 'Swapnil Singh', 'J Yadav', 'UT Khawaja',
       'HM Amla', 'F Behardien', 'A Zampa', 'BB Sran', 'N Rana',
       'S Kaushik', 'ER Dwivedi', 'CJ Jordan', 'A Choudhary', 'TS Mills',
       'BA Stokes', 'JJ Roy', 'Vishnu Vinod', 'Basil Thampi', 'CR Woakes',
       'RA Tripathi', 'DL Chahar', 'V Shankar', 'Rashid Khan',
       'LH Ferguson', 'RD Chahar', 'C de Grandhomme', 'AF Milne',
       'S Badree', 'Mohammad Nabi', 'AJ Tye', 'K Rabada', 'Kuldeep Yadav',
       'Washington Sundar', 'DM Bravo', 'AR Bawne', 'SP Jackson',
       'Ankit Soni', 'TA Boult', 'E Lewis', 'MA Wood', 'RK Singh',
       'DJM Short', 'K Gowtham', 'TK Curran', 'M Markande', 'B Stanlake',
       'Mujeeb Ur Rahman', 'A Dananjaya', 'Shivam Mavi', 'Shubman Gill',
       'Mohammed Siraj', 'H Klaasen', 'RK Bhui', 'JC Archer', 'PP Shaw',
       'LE Plunkett', 'Mustafizur Rahman', 'AD Hales', 'MK Lomror',
       'DR Shorey', 'MM Ali', 'M Prasidh Krishna', 'P Chopra',
       'JPR Scantlebury-Searles', 'Abhishek Sharma', 'IS Sodhi',
       'SO Hetmyer', 'S Dube', 'NA Saini', 'JM Bairstow', 'Rasikh Salam',
       'KMA Paul', 'N Pooran', 'P Ray Barman', 'S Lamichhane',
       'SM Curran', 'GC Viljoen', 'Avesh Khan', 'HF Gurney', 'SD Lad',
       'AS Joseph', 'MJ Santner', 'R Parag', 'JL Denly', 'LS Livingstone',
       'KK Ahmed', 'AJ Turner', 'SE Rutherford', 'Harpreet Brar',
       'Y Prithvi Raj', 'P Simran Singh', 'JL Pattinson', 'A Nortje',
       'T Banton', 'D Padikkal', 'YBK Jaiswal', 'RD Gaikwad',
       'TU Deshpande', 'Abdul Samad', 'PK Garg', 'JR Philippe',
       'Kartik Tyagi', 'CV Varun', 'KL Nagarkoti', 'I Udana',
       'Ravi Bishnoi', 'Shahbaz Ahmed', 'AT Carey', 'N Jagadeesan',
       'T Natarajan', 'P Dubey', 'SS Cottrell', 'Arshdeep Singh',
       'DR Sams'], dtype=object)

#SureshRaina

In [21]:
sureshraina=df[df['batsman']== 'SK Raina']
sureshraina.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
246,335983,1,10,3,SK Raina,MEK Hussey,PP Chawla,2,0,2,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab
247,335983,1,10,4,SK Raina,MEK Hussey,PP Chawla,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab
248,335983,1,10,5,SK Raina,MEK Hussey,PP Chawla,6,0,6,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab
249,335983,1,10,6,SK Raina,MEK Hussey,PP Chawla,4,0,4,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab
253,335983,1,11,4,SK Raina,MEK Hussey,K Goel,6,0,6,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab

powerplayanalysis

In [22]:
powerplay=sureshraina[sureshraina['over']<6]
powerplay.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
1732,335989,1,4,5,SK Raina,ML Hayden,DS Kulkarni,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians
1733,335989,1,4,6,SK Raina,ML Hayden,DS Kulkarni,1,0,1,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians
1734,335989,1,5,1,SK Raina,ML Hayden,A Nehra,1,0,1,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians
1739,335989,1,5,6,SK Raina,ML Hayden,A Nehra,0,1,1,0,0,NaN,NaN,NaN,wides,Chennai Super Kings,Mumbai Indians
1740,335989,1,5,7,SK Raina,ML Hayden,A Nehra,1,0,1,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians

In [23]:
Totalruns=0
Totalballs=0
for i in powerplay['batsman_runs']:
  Totalruns=Totalruns+i
  Totalballs=Totalballs+1
print(Totalruns)  
print(Totalballs)

1534
1188

In [24]:
Noofdismissalsinpowerplay=0
for i in powerplay['is_wicket']:
  if(i==1):
     Noofdismissalsinpowerplay=Noofdismissalsinpowerplay+1
print(Noofdismissalsinpowerplay)

44

In [26]:
powerplayavg=Totalruns/Noofdismissalsinpowerplay
powerplaysr=Totalruns*100/Totalballs
print("powerplayavg:",powerplayavg)
print("powerplaysr:", powerplaysr)

powerplayavg: 34.86363636363637
powerplaysr: 129.12457912457913

Midoveranalysis

In [27]:
midover=sureshraina[(sureshraina['over']>=6) & (sureshraina['over']<15)]
midover.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
246,335983,1,10,3,SK Raina,MEK Hussey,PP Chawla,2,0,2,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab
247,335983,1,10,4,SK Raina,MEK Hussey,PP Chawla,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab
248,335983,1,10,5,SK Raina,MEK Hussey,PP Chawla,6,0,6,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab
249,335983,1,10,6,SK Raina,MEK Hussey,PP Chawla,4,0,4,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab
253,335983,1,11,4,SK Raina,MEK Hussey,K Goel,6,0,6,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab

In [28]:
Totalruns=0
Totalballs=0
for i in midover['batsman_runs']:
  Totalruns=Totalruns+i
  Totalballs=Totalballs+1
print(Totalruns)  
print(Totalballs)

2969
2337

In [29]:
Noofdismissalsinmidover=0
for i in midover['is_wicket']:
  if(i==1):
     Noofdismissalsinmidover=Noofdismissalsinmidover+1
print(Noofdismissalsinmidover)

91

In [30]:
midoveravg=Totalruns/Noofdismissalsinmidover
midoversr=Totalruns*100/Totalballs
print("midoveravg:", midoveravg)
print("midoverse:", midoversr)

midoveravg: 32.62637362637363
midoverse: 127.04321780059905

Death over analysis

In [31]:
deathover=sureshraina[(sureshraina['over']>=15)]
deathover.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
4698,336001,1,17,4,SK Raina,JA Morkel,Mohammad Asif,1,0,1,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Delhi Daredevils
4699,336001,1,17,5,SK Raina,JA Morkel,Mohammad Asif,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Delhi Daredevils
4700,336001,1,17,6,SK Raina,JA Morkel,Mohammad Asif,1,0,1,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Delhi Daredevils
4701,336001,1,18,1,SK Raina,JA Morkel,PJ Sangwan,1,0,1,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Delhi Daredevils
10993,336029,2,15,1,SK Raina,JA Morkel,DW Steyn,1,0,1,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Royal Challengers Bangalore

In [32]:
Totalruns=0
Totalballs=0
for i in deathover['batsman_runs']:
  Totalruns=Totalruns+i
  Totalballs=Totalballs+1
print(Totalruns)  
print(Totalballs)

865
516

In [33]:
Noofdismissalsindeathover=0
for i in deathover['is_wicket']:
  if(i==1):
     Noofdismissalsindeathover=Noofdismissalsindeathover+1
print(Noofdismissalsindeathover)

25

In [34]:
deathoveravg=Totalruns/Noofdismissalsindeathover
deathoversr=Totalruns*100/Totalballs
print("deathoveravg:",deathoveravg)
print("deathoversr:", deathoversr)

deathoveravg: 34.6
deathoversr: 167.63565891472868

In [35]:
sureshraina.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
246,335983,1,10,3,SK Raina,MEK Hussey,PP Chawla,2,0,2,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab
247,335983,1,10,4,SK Raina,MEK Hussey,PP Chawla,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab
248,335983,1,10,5,SK Raina,MEK Hussey,PP Chawla,6,0,6,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab
249,335983,1,10,6,SK Raina,MEK Hussey,PP Chawla,4,0,4,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab
253,335983,1,11,4,SK Raina,MEK Hussey,K Goel,6,0,6,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab

In [36]:
uniquematchid=[]
noofballs=[]
count=0
for i in sureshraina['id']:
   if i not in uniquematchid:
     if(count>0):
       noofballs.append(count)
     count=1
     uniquematchid.append(i)
   else:
     count=count+1 
noofballs.append(count)

In [37]:
len(uniquematchid )

189

In [42]:
runsscoredlessthan15balls=0
runsscored15to30balls=0
runsscoredgreaterthan30balls=0
totalballslessthan15=0
totalballs15to30=0
totalballsgreaterthan30=0
numberofdismissalslessthan15=0
numberofdismissals15to30=0
numberofdismissalsgreaterthan30=0

In [43]:
k=0
ball=0
for i in sureshraina['batsman_runs']:
     ball=ball+1
     if(ball<15):
         runsscoredlessthan15balls=runsscoredlessthan15balls+i
         totalballslessthan15=totalballslessthan15+1
     elif(ball>=15 and ball<=30):
         runsscored15to30balls=runsscored15to30balls+i
         totalballs15to30=totalballs15to30+1
     elif(ball>30):
         runsscoredgreaterthan30balls=runsscoredgreaterthan30balls+i
         totalballsgreaterthan30=totalballsgreaterthan30+1
     if(ball==noofballs[k]):
      
       k=k+1
       ball=0

In [44]:
k=0
ball=0
for i in sureshraina['is_wicket']:
     ball=ball+1
     if(ball<15):
         if(i==1):
           numberofdismissalslessthan15=numberofdismissalslessthan15+1
     elif(ball>=15 and ball<=30):
         if(i==1):
           numberofdismissals15to30=numberofdismissals15to30+1
     elif(ball>30):
         if(i==1):
           numberofdismissalsgreaterthan30=numberofdismissalsgreaterthan30+1

     if(ball==noofballs[k]):
      
       k=k+1
       ball=0

In [45]:
strikeratelessthan15balls=(runsscoredlessthan15balls*100)/totalballslessthan15
avglessthan15balls=runsscoredlessthan15balls/numberofdismissalslessthan15
print("sr less than 15 balls: ",strikeratelessthan15balls)
print("avg less than 15 balss:", avglessthan15balls)

sr less than 15 balls:  125.1270207852194
avg less than 15 balss: 29.445652173913043

In [46]:
strikerate15to30balls=(runsscored15to30balls*100)/totalballs15to30
avg15to30balls=runsscored15to30balls/numberofdismissals15to30
print("sr 15 to 30 balls:" ,strikerate15to30balls)
print("avg 15 to 30 balls:",avg15to30balls)

sr 15 to 30 balls: 136.49579188982403
avg 15 to 30 balls: 34.30769230769231

In [47]:
strikeratemorethan30balls=(runsscoredgreaterthan30balls*100)/totalballsgreaterthan30
avgmorethan30balls=runsscoredgreaterthan30balls/numberofdismissalsgreaterthan30
print("sr more than 30 balls:",strikeratemorethan30balls)
print("avg more than 30 balls:", avgmorethan30balls)

sr more than 30 balls: 153.7785588752197
avg more than 30 balls: 54.6875

matchwiseanalysis

In [48]:
df=pd.read_csv('IPL Matches 2008-2020.csv')
df.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [49]:
df.tail()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [50]:
include=[]
k=0
for i in df['id']:
  if i in uniquematchid:
    include.append(k)
  k=k+1

In [51]:
print(include)

[1, 7, 14, 19, 23, 25, 27, 31, 36, 47, 50, 54, 56, 57, 58, 62, 65, 71, 77, 81, 84, 89, 92, 99, 102, 106, 109, 113, 119, 122, 125, 130, 132, 134, 138, 142, 146, 151, 156, 162, 164, 168, 172, 174, 175, 183, 188, 192, 197, 202, 204, 212, 216, 221, 225, 229, 237, 242, 244, 247, 248, 253, 258, 260, 264, 272, 274, 283, 287, 292, 295, 301, 304, 308, 311, 319, 320, 321, 326, 336, 339, 344, 346, 350, 354, 358, 362, 365, 370, 375, 382, 386, 392, 394, 397, 400, 405, 407, 410, 414, 418, 423, 426, 430, 434, 439, 444, 447, 450, 455, 456, 459, 461, 467, 470, 473, 478, 482, 487, 491, 494, 499, 503, 505, 509, 513, 515, 516, 519, 522, 525, 531, 535, 539, 541, 544, 547, 550, 554, 567, 570, 573, 575, 579, 582, 589, 592, 596, 599, 602, 606, 610, 614, 617, 622, 625, 628, 636, 640, 652, 655, 659, 662, 665, 668, 670, 678, 681, 687, 691, 692, 695, 696, 700, 707, 710, 713, 718, 720, 724, 728, 734, 736, 739, 745, 750, 752, 754, 755]

In [52]:
len(include)

189

In [53]:
noofmatchesperyear=[]
for i in range(13):
  noofmatchesperyear.append(0)

In [54]:
k=0
cnt=0
for i in df['date']:
  temp=i[0:4]
  if(include[k]==cnt):
     k=k+1
    
     if(temp=='2008'):
       noofmatchesperyear[0]=noofmatchesperyear[0]+1
     elif(temp=='2009'):  
       noofmatchesperyear[1]=noofmatchesperyear[1]+1
     elif(temp=='2010'):
       noofmatchesperyear[2]=noofmatchesperyear[2]+1
     elif(temp=='2011'):    
       noofmatchesperyear[3]=noofmatchesperyear[3]+1
     elif(temp=='2012'):
       noofmatchesperyear[4]=noofmatchesperyear[4]+1
     elif(temp=='2013'):
       noofmatchesperyear[5]=noofmatchesperyear[5]+1
     elif(temp=='2014'):  
       noofmatchesperyear[6]=noofmatchesperyear[6]+1
     elif(temp=='2015'):
       noofmatchesperyear[7]=noofmatchesperyear[7]+1
     elif(temp=='2016'):  
       noofmatchesperyear[8]=noofmatchesperyear[8]+1
     elif(temp=='2017'):  
       noofmatchesperyear[9]=noofmatchesperyear[9]+1
     elif(temp=='2018'):  
       noofmatchesperyear[10]=noofmatchesperyear[10]+1 
     elif(temp=='2019'):
        noofmatchesperyear[11]=noofmatchesperyear[11]+1
     elif(temp=='2020'):
          noofmatchesperyear[12]=noofmatchesperyear[12]+1  
     if(k>=189):
       break     
   
  cnt=cnt+1

In [55]:
print(noofmatchesperyear)

[14, 14, 16, 16, 18, 17, 16, 17, 15, 14, 15, 17, 0]

yearwiseanalysis

In [59]:
sureshraina.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
246,335983,1,10,3,SK Raina,MEK Hussey,PP Chawla,2,0,2,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab
247,335983,1,10,4,SK Raina,MEK Hussey,PP Chawla,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab
248,335983,1,10,5,SK Raina,MEK Hussey,PP Chawla,6,0,6,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab
249,335983,1,10,6,SK Raina,MEK Hussey,PP Chawla,4,0,4,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab
253,335983,1,11,4,SK Raina,MEK Hussey,K Goel,6,0,6,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Kings XI Punjab

In [60]:
print(noofballs)

[14, 39, 17, 4, 27, 21, 2, 19, 6, 20, 25, 46, 34, 30, 9, 29, 27, 20, 57, 22, 19, 21, 12, 10, 12, 38, 22, 20, 3, 20, 37, 13, 8, 53, 13, 35, 7, 21, 43, 41, 20, 29, 4, 37, 29, 1, 17, 41, 4, 4, 25, 36, 53, 10, 27, 10, 13, 7, 52, 6, 29, 13, 17, 14, 19, 2, 24, 17, 34, 24, 23, 20, 20, 10, 13, 1, 17, 38, 7, 22, 10, 32, 8, 35, 13, 25, 50, 54, 1, 55, 2, 12, 1, 42, 1, 19, 42, 9, 4, 10, 25, 29, 27, 13, 3, 49, 53, 7, 18, 36, 26, 7, 12, 10, 32, 8, 32, 27, 22, 15, 50, 10, 6, 8, 37, 21, 2, 20, 11, 25, 23, 51, 25, 5, 28, 15, 21, 10, 18, 39, 36, 9, 5, 52, 8, 23, 29, 8, 46, 24, 31, 3, 8, 43, 25, 5, 5, 6, 12, 31, 44, 10, 48, 2, 27, 21, 41, 3, 18, 53, 14, 24, 21, 16, 33, 16, 21, 14, 4, 42, 13, 1, 25, 4, 38, 38, 7, 13, 15]

In [61]:
print(noofmatchesperyear)

[14, 14, 16, 16, 18, 17, 16, 17, 15, 14, 15, 17, 0]

In [62]:
ballsperyear=[]
for i in range(13):
  ballsperyear.append(0)

In [63]:
k=0
cnt=0
sum=0
for i in noofballs:
  sum=sum+i
  cnt=cnt+1
  if(cnt==noofmatchesperyear[k]):
    ballsperyear[k]=sum
    k=k+1
    cnt=0
    sum=0

In [64]:
print(ballsperyear)

[304, 318, 384, 335, 335, 370, 370, 319, 321, 310, 354, 321, 0]

In [65]:
runsperyear=[]
for i in range(13):
  runsperyear.append(0)

In [66]:
k=0
cnt=0
sum=0
for i in sureshraina['batsman_runs']:
  sum=sum+i
  cnt=cnt+1
  if(cnt==ballsperyear[k]):
    runsperyear[k]=sum
    sum=0
    cnt=0
    k=k+1

In [67]:
print(runsperyear)

[421, 434, 520, 438, 441, 548, 523, 374, 399, 442, 445, 383, 0]

In [68]:
dismissalsperyear=[]
for i in range(13):
  dismissalsperyear.append(0)

In [69]:
k=0
cnt=0
sum=0
for i in sureshraina['is_wicket']:
  if(i==1):
    sum=sum+1
  cnt=cnt+1
  if(cnt==ballsperyear[k]):
    dismissalsperyear[k]=sum
    sum=0
    cnt=0
    k=k+1

In [70]:
print(dismissalsperyear)

[9, 15, 12, 14, 17, 12, 12, 15, 15, 11, 12, 16, 0]

In [71]:
strikerateperyear=[]
avgperyear=[]
for i in range(12):
  strikerateperyear.append(0)
  avgperyear.append(0)

#OUTPUT
strike rate and average per year

In [72]:
for i in range(12):
  strikerateperyear[i]=runsperyear[i]*100/ballsperyear[i]
  avgperyear[i]=runsperyear[i]/dismissalsperyear[i]

In [73]:
print("sr per year:",strikerateperyear)
print("avg per year:", avgperyear)

sr per year: [138.48684210526315, 136.47798742138366, 135.41666666666666, 130.7462686567164, 131.6417910447761, 148.1081081081081, 141.35135135135135, 117.24137931034483, 124.29906542056075, 142.58064516129033, 125.70621468926554, 119.31464174454828]
avg per year: [46.77777777777778, 28.933333333333334, 43.333333333333336, 31.285714285714285, 25.941176470588236, 45.666666666666664, 43.583333333333336, 24.933333333333334, 26.6, 40.18181818181818, 37.083333333333336, 23.9375]

In [74]:
noofrunslessthan15ballsperyear=[]
noofruns15to30ballsperyear=[]
noofrunsmorethan30ballsperyear=[]
ballslessthan15peryear=[]
balls15to30peryear=[]
ballsmorethan30peryear=[]
for i in range(13):
  noofrunslessthan15ballsperyear.append(0)
  noofruns15to30ballsperyear.append(0)
  noofrunsmorethan30ballsperyear.append(0)
  ballslessthan15peryear.append(0)
  balls15to30peryear.append(0)
  ballsmorethan30peryear.append(0)

In [75]:
balls=0
k=0
j=0
runslessthan15=0
runs15to30=0
runsmorethan30=0
ballslessthan15=0
balls15to30=0
ballsmorethan30=0
match=0
for i in sureshraina['batsman_runs']:
  balls=balls+1
  if(balls<15):
    runslessthan15=runslessthan15+i
    ballslessthan15=ballslessthan15+1
  elif((balls>=15) & (balls<30)):
    runs15to30=runs15to30+i
    balls15to30=balls15to30+1
  else:
    runsmorethan30=runsmorethan30+i
    ballsmorethan30=ballsmorethan30+1
  if(balls==noofballs[k]):
     k=k+1  
     balls=0
     match=match+1
     if(match==noofmatchesperyear[j]):  
       match=0
       noofrunslessthan15ballsperyear[j]=runslessthan15
       noofruns15to30ballsperyear[j]=runs15to30
       noofrunsmorethan30ballsperyear[j]=runsmorethan30
       ballslessthan15peryear[j]=ballslessthan15
       balls15to30peryear[j]=balls15to30
       ballsmorethan30peryear[j]=ballsmorethan30
       j=j+1
       runslessthan15=0
       runs15to30=0
       runsmorethan30=0
       ballslessthan15=0
       balls15to30=0
       ballsmorethan30=0

In [76]:
print(noofrunslessthan15ballsperyear)
print(noofruns15to30ballsperyear)
print(noofrunsmorethan30ballsperyear)

[218, 244, 212, 213, 287, 215, 228, 208, 221, 221, 224, 218, 0]
[146, 113, 190, 139, 128, 184, 182, 123, 127, 132, 129, 111, 0]
[57, 77, 118, 86, 26, 149, 113, 43, 51, 89, 92, 54, 0]

In [77]:
print(ballslessthan15peryear)
print(balls15to30peryear)
print(ballsmorethan30peryear)

[166, 183, 188, 167, 221, 167, 186, 189, 180, 149, 173, 196, 0]
[105, 98, 124, 102, 100, 109, 120, 95, 102, 105, 109, 90, 0]
[33, 37, 72, 66, 14, 94, 64, 35, 39, 56, 72, 35, 0]

In [78]:
dismissalslessthan15ballsperyear=[]
dismissals15to30ballsperyear=[]
dismissalsmorethan30ballsperyear=[]
for i in range(13):
  dismissalslessthan15ballsperyear.append(0)
  dismissals15to30ballsperyear.append(0)
  dismissalsmorethan30ballsperyear.append(0)

In [79]:
balls=0
k=0
j=0
wicketslessthan15=0
wickets15to30=0
wicketsmorethan30=0
match=0
for i in sureshraina['is_wicket']:
  balls=balls+1
  if(balls<15):
    if(i==1):
         wicketslessthan15=wicketslessthan15+i
   
  elif((balls>=15) & (balls<30)):
    if(i==1):
         wickets15to30=wickets15to30+i
  else:
    if(i==1):
          wicketsmorethan30=wicketsmorethan30+i
    
  if(balls==noofballs[k]):
     k=k+1  
     balls=0
     match=match+1
     if(match==noofmatchesperyear[j]):  
       match=0
       dismissalslessthan15ballsperyear[j]=wicketslessthan15
       dismissals15to30ballsperyear[j]=wickets15to30
       dismissalsmorethan30ballsperyear[j]=wicketsmorethan30
       j=j+1
       wicketslessthan15=0
       wickets15to30=0
       wicketsmorethan30=0

In [80]:
print(dismissalslessthan15ballsperyear)
print(dismissals15to30ballsperyear)
print(dismissalsmorethan30ballsperyear)

[4, 7, 7, 8, 10, 11, 6, 9, 8, 7, 7, 8, 0]
[3, 6, 4, 4, 6, 1, 5, 5, 6, 3, 3, 5, 0]
[2, 2, 1, 2, 1, 0, 1, 1, 1, 1, 2, 3, 0]

In [81]:
yearwisestrikeratelessthan15balls=[]
yearwisestrikerate15to30balls=[]
yearwisestrikeratemorethan30balls=[]
yearwiseaveragelessthan15balls=[]
yearwiseaverage15to30balls=[]
yearwiseaveragemorethan30balls=[]
for i in range(13):
  yearwisestrikeratelessthan15balls.append(0)
  yearwisestrikerate15to30balls.append(0)
  yearwisestrikeratemorethan30balls.append(0)
  yearwiseaveragelessthan15balls.append(0)
  yearwiseaverage15to30balls.append(0)
  yearwiseaveragemorethan30balls.append(0)

In [82]:
for i in range(12):
  yearwisestrikeratelessthan15balls[i]=noofrunslessthan15ballsperyear[i]*100/ballslessthan15peryear[i]
  yearwisestrikerate15to30balls[i]=noofruns15to30ballsperyear[i]*100/balls15to30peryear[i]
  yearwisestrikeratemorethan30balls[i]=noofrunsmorethan30ballsperyear[i]*100/ballsmorethan30peryear[i]
  if(dismissalslessthan15ballsperyear[i]==0):
    yearwiseaveragelessthan15balls[i]=0
  else:  
    yearwiseaveragelessthan15balls[i]=noofrunslessthan15ballsperyear[i]/dismissalslessthan15ballsperyear[i]
  if(dismissals15to30ballsperyear[i]==0):
    yearwiseaverage15to30balls[i]=0
  else:
    yearwiseaverage15to30balls[i]=noofruns15to30ballsperyear[i]/dismissals15to30ballsperyear[i]
  if(dismissalsmorethan30ballsperyear[i]==0):
    yearwiseaveragemorethan30balls[i]=0
  else:
    yearwiseaveragemorethan30balls[i]=noofrunsmorethan30ballsperyear[i]/dismissalsmorethan30ballsperyear[i]

In [83]:
print("year wise sr less than 15 balls:", yearwisestrikeratelessthan15balls)
print("year wise sr 15 to 30 balls:", yearwisestrikerate15to30balls)
print("year wise sr more than 30 balls:", yearwisestrikeratemorethan30balls)

year wise sr less than 15 balls: [131.32530120481928, 133.33333333333334, 112.76595744680851, 127.54491017964072, 129.86425339366517, 128.7425149700599, 122.58064516129032, 110.05291005291005, 122.77777777777777, 148.3221476510067, 129.47976878612718, 111.22448979591837, 0]
year wise sr 15 to 30 balls: [139.04761904761904, 115.3061224489796, 153.2258064516129, 136.27450980392157, 128.0, 168.80733944954127, 151.66666666666666, 129.47368421052633, 124.50980392156863, 125.71428571428571, 118.34862385321101, 123.33333333333333, 0]
year wise sr more than 30 balls: [172.72727272727272, 208.1081081081081, 163.88888888888889, 130.3030303030303, 185.71428571428572, 158.51063829787233, 176.5625, 122.85714285714286, 130.76923076923077, 158.92857142857142, 127.77777777777777, 154.28571428571428, 0]

In [85]:
print("year wise avg less than 15 balls:", yearwiseaveragelessthan15balls)
print("year wise avg 15 to 30 balls:", yearwiseaverage15to30balls)
print("year wise avg more than 30 balls:",yearwiseaveragemorethan30balls)

year wise avg less than 15 balls: [54.5, 34.857142857142854, 30.285714285714285, 26.625, 28.7, 19.545454545454547, 38.0, 23.11111111111111, 27.625, 31.571428571428573, 32.0, 27.25, 0]
year wise avg 15 to 30 balls: [48.666666666666664, 18.833333333333332, 47.5, 34.75, 21.333333333333332, 184.0, 36.4, 24.6, 21.166666666666668, 44.0, 43.0, 22.2, 0]
year wise avg more than 30 balls: [28.5, 38.5, 118.0, 43.0, 26.0, 0, 113.0, 43.0, 51.0, 89.0, 46.0, 18.0, 0]

#TODO 
The above analysis for 1st and 2nd batting

In [86]:
SRSet = sureshraina[sureshraina['inning'] == 1]
SRChase = sureshraina[sureshraina['inning'] == 2]

In [87]:
set_runs = 0
set_balls = 0
set_dismissals = 0

for i in SRSet['batsman_runs']:
    set_runs = set_runs + i
    set_balls = set_balls + 1

for j in SRSet['is_wicket']:
    if j == 1:
        set_dismissals = set_dismissals + 1
        
print("Total runs while setting a target: ", set_runs)
print("Total balls faced while setting a target: ", set_balls)
print("Number of dismissals while setting a target: ", set_dismissals)

chase_runs = 0
chase_balls = 0
chase_dismissals = 0

for i in SRChase['batsman_runs']:
    chase_runs = chase_runs + i
    chase_balls = chase_balls + 1

for j in SRChase['is_wicket']:
    if j == 1:
        chase_dismissals = chase_dismissals + 1
        
print("Total runs while chasing: ", chase_runs)
print("Total balls faced while chasing: ", chase_balls)
print("Number of dismissals while chasing: ", chase_dismissals)

print("Total runs: ", set_runs+chase_runs)
print("Total balls faced: ", set_balls+chase_balls)
print("Total dismissals: ", set_dismissals+chase_dismissals)

Total runs while setting a target:  3089
Total balls faced while setting a target:  2336
Number of dismissals while setting a target:  93
Total runs while chasing:  2279
Total balls faced while chasing:  1705
Number of dismissals while chasing:  67
Total runs:  5368
Total balls faced:  4041
Total dismissals:  160

In [88]:
set_avg = set_runs/set_dismissals
set_sr = set_runs/set_balls*100

print("Average while setting a target: ", set_avg)
print("Strike rate while setting a target: ", set_sr)

chase_avg = chase_runs/chase_dismissals
chase_sr = chase_runs/chase_balls*100

print("Average while chasing: ", chase_avg)
print("Strike rate while chasing: ", chase_sr)

Average while setting a target:  33.215053763440864
Strike rate while setting a target:  132.2345890410959
Average while chasing:  34.014925373134325
Strike rate while chasing:  133.6656891495601

In [89]:
set_powerplay = SRSet[SRSet['over'] < 6]
set_powerplay.head()

chase_powerplay = SRChase[SRChase['over'] < 6]
chase_powerplay.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
11663,336033,2,4,2,SK Raina,PA Patel,Sohail Tanvir,4,0,4,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals
11664,336033,2,4,3,SK Raina,PA Patel,Sohail Tanvir,4,0,4,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals
11665,336033,2,4,4,SK Raina,PA Patel,Sohail Tanvir,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals
11666,336033,2,4,5,SK Raina,PA Patel,Sohail Tanvir,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals
11667,336033,2,4,6,SK Raina,PA Patel,Sohail Tanvir,6,0,6,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals

In [92]:
set_pp_runs = 0
set_pp_balls = 0
set_pp_dismissals = 0

for i in set_powerplay['batsman_runs']:
    set_pp_runs = set_pp_runs + i
    set_pp_balls = set_pp_balls + 1

for j in set_powerplay['is_wicket']:
    if j == 1:
        set_pp_dismissals = set_pp_dismissals + 1

    
print("Total runs in Powerplay while setting a target: ", set_pp_runs)
print("Total balls faced in PowerPlay while setting a target: ", set_pp_balls)
print("Number of dismissals in PowerPlay while setting a target: ", set_pp_dismissals)

chase_pp_runs = 0
chase_pp_balls = 0
chase_pp_dismissals = 0

for i in chase_powerplay['batsman_runs']:
    chase_pp_runs = chase_pp_runs + i
    chase_pp_balls = chase_pp_balls + 1

for j in chase_powerplay['is_wicket']:
    if j == 1:
        chase_pp_dismissals = chase_pp_dismissals + 1

    
print("Total runs in Powerplay while chasing: ", chase_pp_runs)
print("Total balls faced in PowerPlay while chasing: ", chase_pp_balls)
print("Number of dismissals in PowerPlay while chasing: ", chase_pp_dismissals)

Total runs in Powerplay while setting a target:  735
Total balls faced in PowerPlay while setting a target:  624
Number of dismissals in PowerPlay while setting a target:  21
Total runs in Powerplay while chasing:  799
Total balls faced in PowerPlay while chasing:  564
Number of dismissals in PowerPlay while chasing:  23

In [93]:
set_pp_avg = set_pp_runs/set_pp_dismissals
set_pp_sr = set_pp_runs/set_pp_balls*100

print("Average in PowerPlay while setting a target: ", set_pp_avg)
print("Strike rate in PowerPlay while setting a target: ", set_pp_sr)

chase_pp_avg = chase_pp_runs/chase_pp_dismissals
chase_pp_sr = chase_pp_runs/chase_pp_balls*100

print("Average in PowerPlay while chasing: ", chase_pp_avg)
print("Strike rate in PowerPlay while chasing: ", chase_pp_sr)

Average in PowerPlay while setting a target:  35.0
Strike rate in PowerPlay while setting a target:  117.78846153846155
Average in PowerPlay while chasing:  34.73913043478261
Strike rate in PowerPlay while chasing:  141.66666666666669

In [95]:
set_mid = SRSet[(SRSet['over'] >= 6) & (SRSet['over'] <=14)]
set_mid.head()

chase_mid = SRChase[(SRChase['over'] >= 6) & (SRChase['over'] <=14)]
chase_mid.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
6423,336009,2,9,4,SK Raina,MS Dhoni,Mohammad Asif,1,0,1,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Delhi Daredevils
6426,336009,2,10,1,SK Raina,MS Dhoni,PJ Sangwan,0,0,0,0,1,caught,SK Raina,MK Tiwary,NaN,Chennai Super Kings,Delhi Daredevils
10968,336029,2,11,1,SK Raina,SP Fleming,B Akhil,1,0,1,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Royal Challengers Bangalore
10970,336029,2,11,3,SK Raina,SP Fleming,B Akhil,1,0,1,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Royal Challengers Bangalore
10973,336029,2,11,6,SK Raina,SP Fleming,B Akhil,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Royal Challengers Bangalore

In [96]:
set_mid_runs = 0
set_mid_balls = 0
set_mid_dismissals = 0

for i in set_mid['batsman_runs']:
    set_mid_runs = set_mid_runs + i
    set_mid_balls = set_mid_balls + 1

for j in set_mid['is_wicket']:
    if j == 1:
        set_mid_dismissals = set_mid_dismissals + 1

print("Total runs in the middle overs while setting a target: ", set_mid_runs)
print("Total balls faced in the middle overs while setting a target: ", set_mid_balls)
print("Number of dismissals in the middle overs while setting a target: ", set_mid_dismissals)

chase_mid_runs = 0
chase_mid_balls = 0
chase_mid_dismissals = 0

for i in chase_mid['batsman_runs']:
    chase_mid_runs = chase_mid_runs + i
    chase_mid_balls = chase_mid_balls + 1

for j in chase_mid['is_wicket']:
    if j == 1:
        chase_mid_dismissals = chase_mid_dismissals + 1

print("Total runs in the middle overs while chasing: ", chase_mid_runs)
print("Total balls faced in the middle overs while chasing: ", chase_mid_balls)
print("Number of dismissals in the middle overs while chasing: ", chase_mid_dismissals)

Total runs in the middle overs while setting a target:  1800
Total balls faced in the middle overs while setting a target:  1389
Number of dismissals in the middle overs while setting a target:  55
Total runs in the middle overs while chasing:  1169
Total balls faced in the middle overs while chasing:  948
Number of dismissals in the middle overs while chasing:  36

In [97]:
set_mid_avg = set_mid_runs/set_mid_dismissals
set_mid_sr = set_mid_runs/set_mid_balls*100

print("Average in the middle overs while setting a target: ", set_mid_avg)
print("Strike rate in middle overs while setting a target: ", set_mid_sr)

chase_mid_avg = chase_mid_runs/chase_mid_dismissals
chase_mid_sr = chase_mid_runs/chase_mid_balls*100

print("Average in the middle overs while chasing: ", chase_mid_avg)
print("Strike rate in middle overs: ", chase_mid_sr)

Average in the middle overs while setting a target:  32.72727272727273
Strike rate in middle overs while setting a target:  129.58963282937367
Average in the middle overs while chasing:  32.47222222222222
Strike rate in middle overs:  123.31223628691983

In [98]:
set_death = SRSet[SRSet['over']>=15]
set_death.head()

chase_death = SRChase[SRChase['over']>=15]
chase_death.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
10993,336029,2,15,1,SK Raina,JA Morkel,DW Steyn,1,0,1,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Royal Challengers Bangalore
10999,336029,2,16,1,SK Raina,MS Gony,JH Kallis,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Royal Challengers Bangalore
11000,336029,2,16,2,SK Raina,MS Gony,JH Kallis,4,0,4,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Royal Challengers Bangalore
11001,336029,2,16,3,SK Raina,MS Gony,JH Kallis,0,0,0,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Royal Challengers Bangalore
11002,336029,2,16,4,SK Raina,MS Gony,JH Kallis,1,0,1,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Royal Challengers Bangalore

In [99]:
set_death_runs = 0
set_death_balls = 0
set_death_dismissals = 0

for i in set_death['batsman_runs']:
    set_death_runs = set_death_runs + i
    set_death_balls = set_death_balls + 1
    
for j in set_death['is_wicket']:
    if j == 1:
        set_death_dismissals = set_death_dismissals + 1
        
print("Total runs at the death while setting a target: ", set_death_runs)
print("Total balls faced at the death while setting a target: ", set_death_balls)
print("Number of dismissals at the death while setting a target: ", set_death_dismissals)


chase_death_runs = 0
chase_death_balls = 0
chase_death_dismissals = 0

for i in chase_death['batsman_runs']:
    chase_death_runs = chase_death_runs + i
    chase_death_balls = chase_death_balls + 1
    
for j in chase_death['is_wicket']:
    if j == 1:
        chase_death_dismissals = chase_death_dismissals + 1
        
print("Total runs at the death while chasing: ", chase_death_runs)
print("Total balls faced at the death while chasing: ", chase_death_balls)
print("Number of dismissals at the death while chasing: ", chase_death_dismissals)

Total runs at the death while setting a target:  554
Total balls faced at the death while setting a target:  323
Number of dismissals at the death while setting a target:  17
Total runs at the death while chasing:  311
Total balls faced at the death while chasing:  193
Number of dismissals at the death while chasing:  8

In [100]:
set_death_avg = set_death_runs/set_death_dismissals
set_death_sr = set_death_runs/set_death_balls*100

print("Average at the death while setting a target: ", set_death_avg)
print("Strike rate at the death while setting a target: ", set_death_sr)

chase_death_avg = chase_death_runs/chase_death_dismissals
chase_death_sr = chase_death_runs/chase_death_balls*100

print("Average at the death while chasing: ", chase_death_avg)
print("Strike rate at the death while chasing: ", chase_death_sr)

Average at the death while setting a target:  32.588235294117645
Strike rate at the death while setting a target:  171.5170278637771
Average at the death while chasing:  38.875
Strike rate at the death while chasing:  161.13989637305698